<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Hello, world!</title>
    <style>

.col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }
          .carousel-indicators .active {
          background-color: blue;
            }
          .col-md-3 img{
          width:100%;
          height:auto;
          }
          body .carousel-indicator li{
          background-color: blue;
          }
          body .carousel-indicators{
          bottom: 0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }
           body .no-padding{
           padding-left: 0;
           padding-right:0;
          }
    </style>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <!-- Just an image -->

    <a class="navbar-brand" href="#">
      <img src="https://images.all-free-download.com/images/graphicthumb/supermarket_basket_icon_vector_red_background_281086.jpg" width="30" height="30" alt="" loading="lazy">
    </a>
  
      <a class="navbar-brand" href="#">MyAwesomeCart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


    <div class="alert alert-success" role="alert">
      welcome to MyAwesomeCart one of the finest shopping site.
    </div>

    <div class="container">
      <div id="demo" class="carousel slide my-3" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1" ></li>
            <li data-target="#demo" data-slide-to="2" ></li>
            <li data-target="#demo" data-slide-to="2" ></li>
          </ul>
      
          <!--Slideshow starts here -->
          <div class="container carousel-inner no-padding">
      
                 
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src='https://cdn11.bigcommerce.com/s-ishrbqicno/images/stencil/1280x1280/attribute_rule_images/7320_source_1579128039.jpg' class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">T-shirts</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>

              <div class="carousel-item active">
                <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card" style="width: 18rem;">
                    <img src='https://cdn.shopify.com/s/files/1/0667/1501/products/85ca9a90d51792649faa3a691fe0de59.jpeg?v=1489817842' class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Shirts</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{% url 'shirts' %}" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
               </div>
  

              
      
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src='https://media.gq.com/photos/5aa1bf5ad8ee36593ba666d6/1:1/w_2000,h_2000,c_limit/2018-03_GQ_denim-under100-best-stuff_3x2.jpg' class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">jeans</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
      
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src='https://ae01.alicdn.com/kf/HTB1aYIradjvK1RjSspiq6AEqXXaZ.jpg' class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Pants</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
      
            
            <div class="carousel-item">
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQanJBbIzTtpVt7Nx7ND80cMv5ukw3W7ZrEQ&usqp=CAU' class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">underwears</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
      
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src='https://img.alicdn.com/imgextra/i4/269564231/O1CN01Nzirzi1h7qFIPByGt_!!269564231.jpg_640x640q90.jpg' class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Glasses</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
      
              <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src='https://ae01.alicdn.com/kf/HTB1TM_BSFXXXXbsXVXXq6xXFXXXE.jpg?size=188255&height=800&width=800&hash=a2c5949e38e48c6bf9fa09037e0bd0eb' class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Wrist watches</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
      
              <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card" style="width: 18rem;">
                    <img src='https://www.shopperwear.com/media/catalog/product/cache/1/thumbnail/600x/17f82f742ffe127f42dca9de82fb58b1/f/a/fashion-winter-shoes-for-men-suede-pu-leather-snow-men-boots-high-quality-comfy-casual-shoes-men-plus-size-extra-image-5.jpg' class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Shoes</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div> 
      </div>
      
          <!-- left and right controls for the slide -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>
      
      
      
      
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        </body>
      </html>
      